{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="map"></div>
{% endblock %}

{% block javascript %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKDLeJrLIsh6CBeEC1-AOspKONcbkXVaE&callback=initMap"></script>
{% endblock %}